@import url(./reset.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');


.hidden {
    opacity: 0 !important;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    overflow-y: hidden;
    background: #121212;
}

body, html {
    height: -webkit-fill-available; /* Для Safari */
    height: fill-available; /* Для большинства современных браузеров */
}

.main_button {
    position: relative;
    background-color: white;
    color: black;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 3em;
    letter-spacing: .1em;
    padding: 10px 30px;
    border-radius: 1px;
    z-index: 2;

    transition: all .230s linear;
}

@keyframes main_button_none {
    to {
        letter-spacing: 0;
    }
}

.main_button:hover {
    background: rgb(209, 60, 209);
    letter-spacing: .2em;
    animation: .3s smoothShadow 1 cubic-bezier(.45, -0.67, .53, 1.63) forwards;
}

@keyframes smoothShadow {
    0% {
        box-shadow: 0 0 0;
    }

    20% {
        box-shadow: 0 0 10px rgb(209, 60, 209, .7);
    }

    50% {
        box-shadow: 0 0 20px rgb(209, 60, 209, .7);
    }

    100% {
        box-shadow: 0 0 30px rgb(209, 60, 209, .7);
    }
}

.pause, .reset, .complicate, .simplify {
    font-size: 2em;
    border-radius: 5px;
}

.complicate:hover {
    background: rgb(247, 0, 78);
    box-shadow: 0 0 22px rgba(247, 0, 78, .8) !important
}

.simplify:hover {
    background: rgb(0, 255, 166);
    box-shadow: 0 0 22px rgba(0, 255, 166, .8) !important;
}

.timer_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 130px;

    transition: opacity .4s ease-in;
}


.timer {
    display: flex;
    color: white;
    font-family: 'Roboto Mono';
    font-size: 160px;
    font-style: normal;
    font-weight: 700;
    line-height: 0px;
}

.dots {
    font-size: 130px;
}


.buttons {
    display: flex;
    justify-content: center;
    max-width: 700px;
    row-gap: 20px;
    flex-wrap: wrap;
}

@keyframes timer_appear {
    from {
        letter-spacing: -1rem;
    }
    to {
        letter-spacing: 0;
    }
}

@keyframes gap_anim {
    from {
        gap: 10px;
    }
    80% {
        gap: 40px;
    }
    to {
        gap: 30px;
    }
}

@keyframes descr_appear {
    from {
        letter-spacing: -.30rem;
    }
    to {
        letter-spacing: 0;
    }
}

.description {
    font-size: 30px;
    color: rgb(209, 60, 209);
    font-family: 'Overpass';
    font-weight: 500;

    transition: color 2.5s ease-in, opacity 2.5s ease-in;
}

.reminder_full_text {
    font-weight: 500;
    font-family: 'Rubik';
    font-size: 30px;
    text-align: center;
    margin-bottom: 10px;
}

.reminder {
    display: block;

    font-size: 18px;
    width: 65vw;
    height: auto;
    padding: 30px 90px;
    font-family: 'Rubik';
    margin: 0 auto;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 6px 24px rgba(255, 255, 255, .85);

    animation: reminder_appear .3s ease-in 1 forwards;
}

@keyframes reminder_appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 100%;
    }
}

.reminder span {
    display: block;
    margin-bottom: 10px;
}

.reminder_button {
    position: relative;
    width: 150px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 15px;
    background-color: rgb(0, 255, 166);
    box-shadow: 0 3px 9px rgba(0, 255, 115, 0.9);
    margin-top: 20px;
    border-radius: 10px;
    top: 0;

    transition: box-shadow .3s ease-in, background-color .18s ease-in;
}

.reminder_button:hover {
    background-color: rgb(0, 255, 130);
}

.reminder_button:focus {
    animation: reminder_button .5s ease-in 1 forwards;
}

@keyframes reminder_button {
    50% {
        top: 1.5px;
    }
    to {
        top: 0
    }
}


.reminder_mobile_text {
    color: white;
    filter: drop-shadow(0 0 18px rgba(255, 255, 255, 1));

    font-weight: 500;
    font-family: 'Rubik';
    text-align: center;
    font-size: 25px;
}

.swiper {
    width: 75vw;
    height: auto;
}

.swiper-slide {
    padding: 30px;
    font-family: 'Rubik';
    font-size: 15px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 6px 24px rgba(255, 255, 255, .85);

    /* height: 415px !important; */
}

.swiper-slide span {
    display: block;
    margin-bottom: 10px;
}

.remind_mobile {
    display: none;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    row-gap: 10px;

    animation: reminder_appear .3s ease-in 1 forwards;
}

.none {
    display: none !important;
}




.swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color: #000;
    opacity: 1;
    background: rgba(0, 0, 0, 0.2);
  }

.white {
    color: #fff;
    filter: drop-shadow(0 0 15px rgba(255, 255, 255, .75));
}

.play_list {
    color: rgb(93, 0, 255);
    /* border-bottom: 1.5px rgb(93, 0, 255); */
    /* border-bottom-style: dashed; */
}

.end_wrapper {
    opacity: 0;
    width: 65vw;
    height: auto;
    font-family: 'Rubik';
    font-weight: 300;
    font-size: 20px;

    display: flex;
    flex-direction: column;
    gap: 10px;

    transition: opacity .4s ease-in;
}

.end_wrapper_inner {
    background-color: white;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 18px rgba(255, 255, 255, .75);
    padding: 30px 100px;
    text-align: center;
    border-radius: 10px;
}

.blue {
    background-color: rgb(93, 0, 255);
    box-shadow: 0 0 8px rgba(93, 4, 255, .75);
    color: #fff;
}

.blue:hover {
    background-color: rgb(234, 0, 255);
}

@media (max-width: 880px) {
    .reminder_full_text {
        font-size: 25px;
    }

    .end_wrapper {
        font-size: 18px;
    }
}

@media (max-width: 800px) {
    .reminder {
        display: none;
    }

    .remind_mobile {
        display: flex;
    }

    .end_wrapper_inner {
        padding: 30px 50px;
    }
}

@media (max-width: 600px) {
    .reminder_full_text {
        font-size: 21px;
    }

    .end_wrapper_inner {
        padding: 30px;
    }

    .end_wrapper { 
        width: 85vw;
    }
}

